<!DOCTYPE html>
<html lang="en">
<head>
    <title>vue-email</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/style.css">
</head>
<body>
    

    <div id="app">
        <!-- title -->
        <h1>RANDOM EMAIL</h1>
        <!-- container -->
        <div class="container">
            <!-- list -->
            <ul v-if="randomEmail.length == 10">
                <!-- list item -->
                <li v-for="email in randomEmail">{{email}}</li>

            </ul>

        </div>

    </div>
    <!-- /#app -->



    <!-- cdn vue.js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- cdn axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.0/axios.min.js" integrity="sha512-aoTNnqZcT8B4AmeCFmiSnDlc4Nj/KPaZyB5G7JnOnUEkdNpCZs1LCankiYi01sLTyWy+m2P+W4XM+BuQ3Q4/Dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- script js -->
    <script src="./assets/js/app.js"></script>
</body>
</html>